@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }
 
 html{
     scroll-behavior: smooth;
 }
 
 
 body{
     margin: 0;
     background-color: #2a0333;
 }
  

 
 h1{ font-size: 3.5em;}
 h2{ font-size: 2.2em;}
 h3{ font-size:  1.2em;}
 p{ font-size: 1.25em;}
 ul{ list-style: none;}
 li{ font-size: 1.25em;}
 a{ text-decoration: none;}


.container{
    width: 85%;
    max-width: 1000px;
    margin: 0px auto;
}



/* ______________________________________________________________________________________________ */

span{
    color: white;
 }

.menu{

    display: none;
    font-family: 'Caveat', cursive;
    font-size: 1.7rem;
}

.header {
    background-color: rgba(0, 0, 0, 0.747);
    padding: 1.2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

} 


.logo{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.9em;
    letter-spacing: 2px;
}



.navigation ul{
    margin: 0;
    padding: 0;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.3rem 1rem;
    font-weight: bold;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    transition: all 1s linear;
    font-family: 'Caveat', cursive;
}


.navigation ul li a:hover{
    color: rgb(75, 74, 165);
}



.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} 


/* _____________________________________________________________ */

#first {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 30vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(231, 55, 55, 0.5)
    )
    , url("../img/banner/banner5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;   
}

#first .container{
    color: white;
}

#first h1{
    font-family: 'Geologica', sans-serif;
}

/* _____________________________________________________________ */

 #second{
    background-color: black;
 }


#second .container img{
    width: 260px;
    height: 320px;
    border-radius: 15px;
    margin: 30px 30px 0px 30px;
}


 #second .texto{
    margin: 30px 30px 0px 30px;
}

#second .container{
    padding: 40px 12px 0px 12px;
    width: 95%;
    max-width: 3000px;
    margin: 0px auto;
    display: flex;
} 

#second p{
    color: white;
    margin-top: 0px;
    font-family: 'Mukta', sans-serif;        
    font-size: 1.5rem;
}

#second h2{
    color: white;
    margin-top: 0px;
    font-family: 'Mukta', sans-serif;
}


/* __________________________________________________________________ */


#third h2{
    margin-top: 0;
    color: white;
    margin-left: 120px;
    letter-spacing: 1.4px;
    font-family: 'Mukta', sans-serif;
}

#third .cantantes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#third  
.cartaCantantesHipHop,
.cartaCantantesCountry,
.cartaCantantesRock,
.cartaCantantesJazz,
.cartaCantantesReggaeton,
.cartaCantantesFunk,
.cartaCantantesCumbia,
.cartaCantantesPop{
    background-position: center center;
    background-size: cover;
    padding: 15px;
    margin: 15px 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);


}

#third .container{
    padding: 0px 12px 100px 12px;
    width: 100%;
    max-width: 5000px;
    margin: 0px auto;
}

/* _________________________________________________________________________ */

.cartaCantantesPop:first-child  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/spotify/cyrus.jpg");
    width: 300px;
    height:400px;
}

.cartaCantantesPop:nth-child(2)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/spotify/swiftt.jpg");
    width: 300px;
    height:400px;
}


.cartaCantantesPop:nth-child(3)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/spotify/thwknd.jpg");
    width: 300px;
    height:400px;
}


.cartaCantantesPop:nth-child(4)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/spotify/sheeran.jpg");
    width: 300px;
    height:400px;
}

.cartaCantantesPop:nth-child(5)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/spotify/rihanna.jpeg");
    width: 300px ;
    height:400px;
}
/* _________________________________________________________________________ */

.cartaCantantesFunk:first-child  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/funk/jamesbrown.webp");
    width: 300px;
    height:400px;
}

.cartaCantantesFunk:nth-child(2)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/funk/Stevie-Wonder.webp");
    width: 300px;
    height:400px;
}


.cartaCantantesFunk:nth-child(3)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/funk/willy-crook.jpg");
    width: 300px;
    height:400px;
}

/* ___________________________________________________________________________ */

.cartaCantantesRock:first-child  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/rock/Chuck_Berry.jpg");
    width: 300px;
    height:400px;
}

.cartaCantantesRock:nth-child(2)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/rock/Elvis_Presley.jpg");
    width: 300px;
    height:400px;
}


.cartaCantantesRock:nth-child(3)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/rock/little_richard.jpg");
    width: 300px;
    height:400px;
}

/* ___________________________________________________________________________ */


.cartaCantantesCountry:first-child  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/country/Jimmie_Rodgers.jpg");
    width: 300px;
    height:400px;
}

.cartaCantantesCountry:nth-child(2)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/country/hank_williams.jpg");
    width: 300px;
    height:400px;
}


.cartaCantantesCountry:nth-child(3)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/country/johnny_cash.jpg");
    width: 300px;
    height:400px;
}

/* ___________________________________________________________________________ */


.cartaCantantesHipHop:first-child  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/hiphop/Big_Daddy_Kane.jpg");
    width: 300px;
    height:400px;
}

.cartaCantantesHipHop:nth-child(2)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/hiphop/tupac.jpg");
    width: 300px;
    height:400px;
}


.cartaCantantesHipHop:nth-child(3)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/hiphop/Biggie_notorius.webp");
    width: 300px;
    height:400px;
}

/* ___________________________________________________________________________ */


.cartaCantantesCumbia:first-child  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/cumbia/jose_quiroga.jpg");
    width: 300px;
    height:400px;
}

.cartaCantantesCumbia:nth-child(2)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/cumbia/Pablo_Lescano.webp");
    width: 300px;
    height:400px;
}


.cartaCantantesCumbia:nth-child(3)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/cumbia/pastor_lopez.jpg");
    width: 300px;
    height:400px;
}

/* ___________________________________________________________________________ */


.cartaCantantesJazz:first-child  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/jazz/Charlie_Parker.webp");
    width: 300px;
    height:400px;
}

.cartaCantantesJazz:nth-child(2)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/jazz/john.jpg");
    width: 300px;
    height:400px;
}


.cartaCantantesJazz:nth-child(3)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/jazz/Louis_Armstrong.jpg");
    width: 300px;
    height:400px;
}

/* ___________________________________________________________________________ */


.cartaCantantesReggaeton:first-child  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/reggaeton/daddy_yankee.jpg");
    width: 300px;
    height:400px;
}

.cartaCantantesReggaeton:nth-child(2)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/reggaeton/Tego_Calderón.jpg");
    width: 300px;
    height:400px;
}


.cartaCantantesReggaeton:nth-child(3)  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    , url("../img/cantantes/reggaeton/don_omar.webp");
    width: 300px;
    height:400px;
}

/* ___________________________________________________________________________ */























@media only screen and (max-width: 535px) {
    
    .menu{
        display: block;
        cursor: pointer;
    }

    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul {
        display: none;
    }
    
    .navigation ul.show {
        display: block;
    }

    .navigation ul li{
        display: block;
    }
    
    .navigation ul li a{
        display: block;
        padding: 0.5rem 0rem;
        transition: all 0.4 linear;
        border-radius: 5px;
    }

}