@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }
 
 html{
     scroll-behavior: smooth;
 }
 
 
 body{
     margin: 0;
     background-color: #595072;
 }
  

 
 h1{ font-size: 3.5em;}
 h2{ font-size: 2.2em;}
 h3{ font-size:  1.2em;}
 p{ font-size: 1.25em;}
 ul{ list-style: none;}
 li{ font-size: 1.25em;}
 a{ text-decoration: none;
    color: white;
    }



.container{
    width: 85%;
    max-width: 1000px;
    margin: 0px auto;
}



/* ______________________________________________________________________________________________ */

span{
    color: white;
 }

.menu{

    display: none;
    font-family: 'Caveat', cursive;
    font-size: 1.7rem;
}

.header {
    background-color: rgba(0, 0, 0, 0.747);
    padding: 1.2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

} 


.logo{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.9em;
    letter-spacing: 2px;
}



.navigation ul{
    margin: 0;
    padding: 0;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.3rem 1rem;
    font-weight: bold;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    transition: all 1s linear;
    font-family: 'Caveat', cursive;
}


.navigation ul li a:hover{
    color: rgb(75, 74, 165);
}



.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} 


/* _________________________________________________________________________________ */

#first {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 20vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(231, 55, 55, 0.5)
    )
    , url("../img/banner/banner9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;   
}

#first .container{
    color: white;
}

#first h1{
    font-family: 'Geologica', sans-serif;
}


/* _________________________________________________________________________________ */

#second{
    background-color: #3e297a;
 }


 #second .container img{
    width: 230px;
    height: 240px;
    border-radius: 15px;
    margin: 30px 30px 30px 30px;
}


 #second .texto{
    margin: 30px 30px 30px 30px;
}

#second .container{
    padding: 40px 12px 0px 12px;
    width: 95%;
    max-width: 1500px;
    margin: 0px auto;
    display: flex;
} 

#second p{
    color: white;
    margin-top: 0px;
    font-family: 'Mukta', sans-serif;        
    font-size: 1.4rem;
}

#second h2{
    color: white;
    margin-top: 0px;
    font-family: 'Mukta', sans-serif;
}


/* _________________________________________________________________________________ */

#third{
    background-color: #3e297a;
 }


 #third .container img{
    width: 260px;
    height: 270px;
    border-radius: 15px;
    margin: 30px 30px 0px 30px;
}


 #third .texto{
    margin: 30px 30px 0px 30px;
    
}

#third .container{
    padding: 0px 12px 0px 12px;
    width: 95%;
    max-width: 1500px;
    margin: 0px auto;
    display: flex;
} 

#third .texto p{
    color: white;
    margin-top: 0px;       
    font-size: 1.4rem;
    font-family: 'Mukta', sans-serif; 
}

#third .texto h2{
    color: white;
    margin-top: 0px;
    font-family: 'Mukta', sans-serif; 
}
#third .texto a{
    color: rgb(194, 188, 188);
    margin-top: 0px;
    font-family: 'Mukta', sans-serif; 
}

#third .listSinger {
    display: flex;
    flex-wrap: wrap;
}

#third .listSinger li{
    width: 25rem;
}

#third .container .titulolist {
    font-size: 1.6rem;
}


/* _________________________________________________________________________________ */

#fourth{
    background-color: #595072;
    display: flex;
    justify-content: center;
 }


 #fourth .texto{
    margin: 30px 30px 0px 30px;
}

#fourth .container{
    padding: 0px 20px 20px 20px;
    width: 95%;
    height: auto;
    max-width: 750px;
    margin: 30px;
    background-color:#3e297a;
    border-radius: 15px;
    
} 

#fourth form{
    background-color:#595072;
    padding: 25px 35px 35px 35px;
    border-radius: 10px;

}


#fourth h2{
    margin: 10px 5px 5px 0px;
    padding: 5px 0px 20px 0px;
    font-size: 1.7rem;
    color: #b1abab;
}



#fourth .nombreComent{
    height: 40px;
    width: 100%;
    background-color: #595072;
    border-radius: 10px;
    font-size: 1.1rem;
    padding-left: 10px;
    margin: 10px 0px 10px 0px;
}
#fourth .mensajeComent{
    height: 60px;
    width: 100%;
    background-color: #595072;
    border-radius: 10px;
    font-size: 1.1rem;
    padding-left: 10px;
    margin: 10px 0px 10px 0px;
    
}

#fourth button{
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    color: #b1abab;
    background-color: #3e297a;
}

#fourth .coment{
    height: auto;
    background-color: #595072;
    padding: 15px;
    border-radius: 10px;
    margin-top: 25px;
}

#coments .border{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 15px;
}

#coments h4{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.3rem;
    padding: 10px 10px 0px 10px;

}
#coments p{
    font-size: 1.1rem;
    font-weight: 6;
    padding: 10px;
    margin-top: 0px;

}
/* _________________________________________________________________________________ */


footer{
    background-color: rgb(0, 0, 0);
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end ;
}



/* _________________________________________________________________________________ */







































@media only screen and (max-width: 535px) {
    
    .menu{
        display: block;
        cursor: pointer;
    }

    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul {
        display: none;
    }
    
    .navigation ul.show {
        display: block;
    }

    .navigation ul li{
        display: block;
    }
    
    .navigation ul li a{
        display: block;
        padding: 0.5rem 0rem;
        transition: all 0.4 linear;
        border-radius: 5px;
    }

}