@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }
 
 html{
     scroll-behavior: smooth;
 }
 
 
 body{
     margin: 0;
     font-family: "roboto", sans-serif;
     background-color: rgb(0, 0, 0);
 }
  
 span{
    color: white;
 }
 
 h1{ font-size: 3.5em;}
 h2{ font-size: 2.2em;}
 h3{ font-size:  1.2em;}
 p{ font-size: 1.25em;}
 ul{ list-style: none;}
 li{ font-size: 1.25em;}
 a{ text-decoration: none;}

 button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}


button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    width: 85%;
    max-width: 1000px;
    margin: 0px auto;
}



/* ______________________________________________________________________________________________ */
.menu{
    display: none;
}

.header {
    background-color: rgba(0, 0, 0, 0.747);
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

} 


.logo{
   
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
    letter-spacing: 2px;
}



.navigation ul{
    margin: 0;
    padding: 0;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    transition: all 1s linear;
}


.navigation ul li a:hover{
    color: rgb(75, 74, 165);
}



.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} 


/* ____________________________________________________________________________________ */

#first {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 45vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(231, 55, 55, 0.3)
    )
    , url("../img/banner/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    
    
}

#first .container{
    color: white;
}

/* ________________________________________________________________________________________ */


 #second .topSpotify{
    display: flex;
    justify-content: center;
}



#second .container{
    padding: 80px 12px;
    width: 100%;
    max-width: 5000px;
    margin: 0px auto;

} 

#second p{
    color: white;
}

#second h2{
    color: white;
    text-align: center;

}


#second 
.cartaSpotify1, 
.cartaSpotify2,
.cartaSpotify3,
.cartaSpotify4,
.cartaSpotify5{
    background-position: center center;
    background-size: cover;
    padding: 15px;
    margin: 15px 30px;
    border-radius: 190px;
    display: flex;
    justify-content: center;
    align-items: end;

}

.cartaSpotify1  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    , url("../img/spotify/thwknd.jpg");
    width: 350px ;
    height: 350px;
}

.cartaSpotify2  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    , url("../img/spotify/sheeran.jpg");
    width: 260px ;
    height: 260px;
}


.cartaSpotify3  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    , url("../img/spotify/swiftt.jpg");
    width: 260px ;
    height: 260px;
}


.cartaSpotify4  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    , url("../img/spotify/cyrus.jpg");
    width: 200px ;
    height: 200px;
}


.cartaSpotify5  {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    , url("../img/spotify/rihanna.jpeg");
    width: 200px ;
    height: 200px;
}



/* ________________________________________________________________________________________ */




#third .musicGenres{
    display: flex;
    justify-content: center;
}


#third{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}


#third .container{
 padding: 80px 12px;
}

#third h2{
    margin-top: 0;
}

#third p{
    display: block;
    margin-bottom: 30px;
}

#third h3{
    margin-top: 0;
    margin-bottom: 70px;
    color: white;
}

#third p{
    color: white;
}

.verMas{
    margin-top: 30px;
}

.verMas a{
    padding: 20px;
    background-color: rgb(30, 30, 30);
    color: blueviolet;
    border-radius: 25px;


}

#third .cartaGenre{
    background-position: center center;
    background-size: cover;
    padding: 15px;
    margin: 15px 50px;
    border-radius: 15px;
    width: 300px ;
    height: 400px;
}



.musicGenres .cartaGenre:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    , url("../img/genres/cumbia.jpg");
    
}

.musicGenres .cartaGenre:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    , url("../img/genres/pop.jpg");
}


.musicGenres .cartaGenre:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    , url("../img/genres/rock.jpg");
}















/* _____________________________________________________________________________________________ */
footer{
    background-color: rgb(30,30,30);
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end ;
}









/* ________________________________________________________________________________________ */

@media only screen and (max-width: 535px) {
    
    .menu{
        display: block;
        cursor: pointer;
    }

    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul {
        display: none;
    }
    
    .navigation ul.show {
        display: block;
    }

    .navigation ul li{
        display: block;
    }
    
    .navigation ul li a{
        display: block;
        padding: 0.5rem 0rem;
        transition: all 0.4 linear;
        border-radius: 5px;
    }

}
