*{
    box-sizing: border-box;
 }
 
 html{
     scroll-behavior: smooth;
 }
 
 
 body{
     margin: 0;
     font-family: "roboto", sans-serif;
 }
  
 
 
 h1{ font-size: 3.5em;}
 h2{ font-size: 2.7em;}
 h3{ font-size:  1.2em;}
 p{ font-size: 1.25em;}
 ul{ list-style: none;}
 li{ font-size: 1.25em;}

 button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}


button:hover{
    background-color: rgb(101, 33, 165);
}

.contenedor{
    max-width: 1400px;
    margin: auto;
}


/* ______________________________________________________________________________________________ */


header {
    background-color: rgb(0, 0, 0);

} 

header .logo{
    margin: 0;
    padding: 20px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}


header nav a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

header nav a:hover{
    color: rgb(121, 74, 165);
}



/* ____________________________________________________________________________________ */

#conteItemsCarrusel{
    height: 200px;
    overflow: hidden;
}



.itemCarrusel{
    height: 200px;
    position: relative;
}

.tarjetaCarrusel{
    height: 100%;
    background-color: aqua;
}

.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#tarjetaCarrusel-1{background-color: rgb(39, 228, 228);}
#tarjetaCarrusel-2{background-color: rgb(25, 51, 51);}
#tarjetaCarrusel-3{background-color: rgb(50, 143, 38);}
#tarjetaCarrusel-4{background-color: rgb(17, 15, 153);}
#tarjetaCarrusel-5{background-color: rgb(83, 52, 168);}

a{
    text-decoration: none;
}

i{
    color: white;
}

#contePuntos{
    background-color: rgb(185,185,185);
    display: flex;
    justify-content: space-between;
}


/* ________________________________________________________________________________________ */
footer{
    background-color: rgb(230,230,230);
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end ;
}



/* ___________________________________________________________________ */

/* 
@media (min-width: 720px){

    header{
        /* position: fixed; /
        width: 100%;
    }

    header .contenedor{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
} */